openapi: 3.2.0
info:
  title: Teachable OAuth Videos API
  description: OAuth 2.0-based API enabling third-party applications to authenticate on behalf of Teachable school owners. Provides access to current user profile, courses, lecture content, progress, and video assets using scoped OAuth tokens with token refresh and revocation support.
  version: '1'
  contact:
    name: Teachable Support
    url: https://support.teachable.com
    email: support@teachable.com
  termsOfService: https://teachable.com/terms-of-use
servers:
- url: https://developers.teachable.com/v1
  description: Teachable OAuth API
security:
- OAuth2:
  - courses:read
tags:
- name: Videos
  description: Video access endpoints for current user
paths:
  /current_user/courses/{course_id}/lectures/{lecture_id}/videos/{video_id}:
    get:
      operationId: getCurrentUserVideo
      summary: Get a video for current user
      description: Return a specific video attachment within a lecture for the current authenticated user.
      tags:
      - Videos
      security:
      - OAuth2:
        - courses:read
      - AccessToken: []
      parameters:
      - name: course_id
        in: path
        required: true
        description: Unique course ID that contains the lecture.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: lecture_id
        in: path
        required: true
        description: Unique lecture ID.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: video_id
        in: path
        required: true
        description: Unique attachment ID for the video.
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResponse'
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '403':
          description: Forbidden - not authorized to access this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '404':
          description: Video not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
components:
  schemas:
    VideoAsset:
      type: object
      properties:
        url:
          type: string
          description: M3U8 playlist file URL.
        content_type:
          type: string
    OAuthErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code (e.g., invalid_token, access_forbidden, resource_not_found, unmet_requirements).
        error_description:
          type: string
          description: Human-readable error description.
    VideoResponse:
      type: object
      properties:
        video:
          $ref: '#/components/schemas/VideoDetail'
    VideoDetail:
      type: object
      properties:
        id:
          type: integer
          format: int32
        video_asset:
          type: array
          items:
            $ref: '#/components/schemas/VideoAsset'
        status:
          type: string
          enum:
          - READY
          - PROCESSING
          - PARTIALLY_READY
          - QUEUED
          - THUMBNAIL_READY
          - FAILED
        url_thumbnail:
          type: string
          description: Poster/thumbnail image URL.
        media_type:
          type: string
          description: Always 'VIDEO'.
        media_duration:
          type: integer
          description: Video duration in seconds.
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developers.teachable.com/oauth/authorize
          tokenUrl: https://developers.teachable.com/oauth/token
          scopes:
            name:read: Read the current user's name
            email:read: Read the current user's email address
            courses:read: Read courses and course content
            courses:update: Update course progress
    AccessToken:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer access token for OAuth authenticated requests.
