openapi: 3.2.0
info:
  title: Teachable Lectures API
  version: '1'
  contact:
    name: Teachable Support
    url: https://support.teachable.com
    email: support@teachable.com
  termsOfService: https://teachable.com/terms-of-use
  description: 'Operations tagged Lectures across 2 of this provider''s published API definitions: teachable-admin-openapi.yml, teachable-oauth-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://developers.teachable.com/v1
  description: Teachable Admin API
tags:
- name: Lectures
  description: Lecture management endpoints
paths:
  /courses/{course_id}/lectures/{lecture_id}:
    get:
      operationId: getLecture
      summary: Get a lecture
      description: Return a lecture by its unique ID within a course.
      tags:
      - Lectures
      parameters:
      - name: course_id
        in: path
        required: true
        description: Return results by unique course ID that contains the lecture.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: lecture_id
        in: path
        required: true
        description: Return results by unique lecture ID.
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LectureDetailResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://developers.teachable.com/v1
      description: Teachable Admin API
  /courses/{course_id}/lectures/{lecture_id}/mark_complete:
    post:
      operationId: markLectureComplete
      summary: Mark a lecture complete
      description: Mark a lecture as complete for a specific user.
      tags:
      - Lectures
      parameters:
      - name: course_id
        in: path
        required: true
        description: The unique course ID that contains the lecture.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: lecture_id
        in: path
        required: true
        description: The unique lecture ID.
        schema:
          type: integer
          format: int32
          minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              properties:
                user_id:
                  type: integer
                  format: int32
                  description: The unique ID of the user.
      responses:
        '204':
          description: Lecture marked complete successfully
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://developers.teachable.com/v1
      description: Teachable Admin API
  /courses/{course_id}/lectures/{lecture_id}/videos/{video_id}:
    get:
      operationId: getVideo
      summary: Get a video
      description: Return a specific video attachment within a lecture.
      tags:
      - Lectures
      parameters:
      - name: course_id
        in: path
        required: true
        description: Return results by unique course ID that contains the lecture.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: lecture_id
        in: path
        required: true
        description: Return results by unique lecture ID.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: video_id
        in: path
        required: true
        description: Return results by unique video attachment ID.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: user_id
        in: query
        description: Specify the user who is watching the video.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://developers.teachable.com/v1
      description: Teachable Admin API
  /current_user/courses/{course_id}/lectures/{lecture_id}:
    get:
      operationId: getCurrentUserLecture
      summary: Get a lecture for current user
      description: Return a lecture by its unique ID within a course for the current authenticated user.
      tags:
      - Lectures
      security:
      - OAuth2:
        - courses:read
      - AccessToken: []
      parameters:
      - name: course_id
        in: path
        required: true
        description: Return results by unique course ID number that contains the lecture.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: lecture_id
        in: path
        required: true
        description: Return results by unique lecture ID number.
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LectureDetailResponse'
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '403':
          description: Forbidden - not authorized to access this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '404':
          description: Lecture or course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
    servers:
    - url: https://developers.teachable.com/v1
      description: Teachable OAuth API
  /current_user/courses/{course_id}/lectures/{lecture_id}/mark_complete:
    post:
      operationId: markCurrentUserLectureComplete
      summary: Mark a lecture complete for current user
      description: Mark a lecture as complete for the current authenticated user.
      tags:
      - Lectures
      security:
      - OAuth2:
        - courses:read
        - courses:update
      - AccessToken: []
      parameters:
      - name: course_id
        in: path
        required: true
        description: Unique course ID that contains the lecture to be completed.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: lecture_id
        in: path
        required: true
        description: Unique lecture ID to be completed.
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '204':
          description: Lecture marked complete successfully
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '403':
          description: Forbidden - not authorized to access this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '404':
          description: Lecture or course not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '409':
          description: Unmet course compliance requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
    servers:
    - url: https://developers.teachable.com/v1
      description: Teachable OAuth API
components:
  schemas:
    VideoResponse:
      type: object
      properties:
        video:
          $ref: '#/components/schemas/VideoDetail'
    VideoDetail:
      type: object
      properties:
        id:
          type: integer
          format: int32
        video_asset:
          $ref: '#/components/schemas/VideoAsset'
        status:
          type: string
          enum:
          - READY
          - PROCESSING
          - PARTIALLY_READY
          - QUEUED
          - THUMBNAIL_READY
          - FAILED
        url_thumbnail:
          type: string
          description: Poster image URL.
        media_type:
          type: string
          description: Always 'VIDEO'.
        media_duration:
          type: integer
          description: Duration in seconds.
    LectureAttachment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        kind:
          type: string
        url:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        position:
          type:
          - integer
          - 'null'
          format: int32
        file_size:
          type:
          - integer
          - 'null'
          format: int32
        file_extension:
          type:
          - string
          - 'null'
        quiz:
          type:
          - object
          - 'null'
          properties:
            id:
              type: integer
              format: int32
            questions:
              type: array
              items:
                type: object
    LectureDetailResponse:
      type: object
      properties:
        lecture:
          $ref: '#/components/schemas/LectureDetail'
    ErrorResponse:
      type: object
      properties:
        message:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: Error message or array of error messages.
    VideoAsset:
      type: object
      properties:
        url:
          type: string
          description: M3U8 playlist file URL.
        content_type:
          type: string
    LectureDetail:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        is_published:
          type: boolean
        position:
          type: integer
          format: int32
        lecture_section_id:
          type: integer
          format: int32
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/LectureAttachment'
    LectureAttachment_2:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        kind:
          type: string
        url:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        position:
          type:
          - integer
          - 'null'
          format: int32
        file_size:
          type:
          - integer
          - 'null'
          format: int32
        file_extension:
          type:
          - string
          - 'null'
        quiz:
          type:
          - object
          - 'null'
    LectureDetail_2:
      type: object
      properties:
        id:
          type: integer
          format: int32
        position:
          type: integer
          format: int32
          description: The position of the lecture within the section (1 is first, 2 is second, etc.).
        name:
          type:
          - string
          - 'null'
        is_published:
          type: boolean
        lecture_section_id:
          type: integer
          format: int32
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/LectureAttachment_2'
    OAuthErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code (e.g., invalid_token, access_forbidden, resource_not_found, unmet_requirements).
        error_description:
          type: string
          description: Human-readable error description.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apiKey
      description: API key for Admin API authentication. Available on Growth plan and above.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://developers.teachable.com/oauth/authorize
          tokenUrl: https://developers.teachable.com/oauth/token
          scopes:
            name:read: Read the current user's name
            email:read: Read the current user's email address
            courses:read: Read courses and course content
            courses:update: Update course progress
    AccessToken:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer access token for OAuth authenticated requests.
x-refined-from:
- teachable-admin-openapi.yml
- teachable-oauth-openapi.yml
